<section class="phx-hero">
    <div class="console" phx-window-keydown="keystroke">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329.9 602.27">
            <%= render_board(assigns) %>
        </svg>
    </div>
</section>
